interactions:
- request:
    body: formats=mp3%2Caac%2Cogg%2Chtml%2Chls&render=json&c=local
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://opml.radiotime.com/Browse.ashx
  response:
    body:
      string: " { \"head\": {\t\"title\": \"Local Radio\",\n\t\"status\": \"200\"},
        \"body\": [\n { \"element\" : \"outline\",\n\"text\" : \"Stations\",\n\"key\"
        : \"stations\", \n\"children\": [\n { \"element\" : \"outline\",\n\"type\"
        : \"audio\",\n\"text\" : \"Antena Minho 106.0 (Sports Talk & News)\",\n\"URL\"
        : \"http://opml.radiotime.com/Tune.ashx?id=s25767&formats=mp3,aac,ogg,html,hls\",\n\"bitrate\"
        : \"160\",\n\"reliability\" : \"83\",\n\"guide_id\" : \"s25767\",\n\"subtext\"
        : \"Manuela Barros\",\n\"genre_id\" : \"g2723\",\n\"formats\" : \"mp3\",\n\"show_id\"
        : \"p270973\",\n\"item\" : \"station\",\n\"image\" : \"http://cdn-radiotime-logos.tunein.com/s25767q.png\",\n\"current_track\"
        : \"Manuela Barros\",\n\"now_playing_id\" : \"s25767\",\n\"preset_id\" : \"s25767\"
        },\n { \"element\" : \"outline\",\n\"type\" : \"audio\",\n\"text\" : \"Beat
        PT (Dance & Electronic)\",\n\"URL\" : \"http://opml.radiotime.com/Tune.ashx?id=s263406&formats=mp3,aac,ogg,html,hls\",\n\"bitrate\"
        : \"192\",\n\"reliability\" : \"98\",\n\"guide_id\" : \"s263406\",\n\"subtext\"
        : \"The best dance music mix\",\n\"genre_id\" : \"g59\",\n\"formats\" : \"mp3\",\n\"item\"
        : \"station\",\n\"image\" : \"http://cdn-radiotime-logos.tunein.com/s[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://opml.radiotime.com/Tune.ashx?id=s25767&formats=mp3,aac,ogg,html,hls&render=json
  response:
    body:
      string: " { \"head\": {\t\"status\": \"200\"}, \"body\": [\n { \"element\" :
        \"audio\", \n\"url\": \"http://centova.radios.pt:9464\",\n\"reliability\":
        83,\n\"bitrate\": 160,\n\"media_type\": \"mp3\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e61281309\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": true }] }"
    headers:
      Content-Type:
      - application/json
      x-tunein-dc:
      - us-west-2
      x-tunein-span-id:
      - <REDACTED>
      x-tunein-trace-id:
      - <REDACTED>
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://opml.radiotime.com/Tune.ashx?id=s224651&formats=mp3,aac,ogg,html,hls&render=json
  response:
    body:
      string: " { \"head\": {\t\"status\": \"200\"}, \"body\": [\n { \"element\" :
        \"audio\", \n\"url\": \"https://listen.radioking.com/radio/505570/stream/563098\",\n\"reliability\":
        100,\n\"bitrate\": 128,\n\"media_type\": \"mp3\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e206217676\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": true }, { \"element\" : \"audio\", \n\"url\": \"https://api.radioking.io/radio/505570/listen.m3u\",\n\"reliability\":
        100,\n\"bitrate\": 128,\n\"media_type\": \"mp3\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e206217681\",\n\"playlist_type\": \"m3u\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": false }] }"
    headers:
      Content-Type:
      - application/json
      x-tunein-dc:
      - us-west-2
      x-tunein-span-id:
      - <REDACTED>
      x-tunein-trace-id:
      - <REDACTED>
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://opml.radiotime.com/Tune.ashx?id=s107023&formats=mp3,aac,ogg,html,hls&render=json
  response:
    body:
      string: " { \"head\": {\t\"status\": \"200\"}, \"body\": [\n { \"element\" :
        \"audio\", \n\"url\": \"http://cast.redewt.net:9141/live\",\n\"reliability\":
        100,\n\"bitrate\": 96,\n\"media_type\": \"mp3\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e182656071\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": true }, { \"element\" : \"audio\", \n\"url\": \"http://46.105.172.166:8093/live\",\n\"reliability\":
        10,\n\"bitrate\": 96,\n\"media_type\": \"mp3\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e182656072\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": true }] }"
    headers:
      Content-Type:
      - application/json
      x-tunein-dc:
      - us-west-2
      x-tunein-span-id:
      - <REDACTED>
      x-tunein-trace-id:
      - <REDACTED>
    status:
      code: 200
      message: OK
version: 1
