interactions:
- request:
    body: formats=mp3%2Caac%2Cogg%2Chtml%2Chls&render=json&query=kuow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://opml.radiotime.com/Search.ashx
  response:
    body:
      string: " { \"head\": {\t\"title\": \"Search Results: kuow\",\n\t\"status\":
        \"200\"}, \"body\": [\n { \"element\" : \"outline\",\n\"type\" : \"audio\",\n\"text\"
        : \"KUOW-FM\",\n\"URL\" : \"http://opml.radiotime.com/Tune.ashx?id=s35932&formats=mp3,aac,ogg,html,hls\",\n\"bitrate\"
        : \"96\",\n\"reliability\" : \"99\",\n\"guide_id\" : \"s35932\",\n\"subtext\"
        : \"Seattle's NPR News Station\",\n\"genre_id\" : \"g3124\",\n\"formats\"
        : \"mp3\",\n\"item\" : \"station\",\n\"image\" : \"http://cdn-profiles.tunein.com/s35932/images/logoq.jpg?t=636269\",\n\"now_playing_id\"
        : \"s35932\",\n\"preset_id\" : \"s35932\" },\n { \"element\" : \"outline\",\n\"type\"
        : \"link\",\n\"text\" : \"KUOW Newsroom\",\n\"URL\" : \"http://opml.radiotime.com/Tune.ashx?c=pbrowse&id=p1835162&formats=mp3,aac,ogg,html,hls\",\n\"guide_id\"
        : \"p1835162\",\n\"subtext\" : \"Catch up on the local headlines of the day...\",\n\"genre_id\"
        : \"g3407\",\n\"key\" : \"topics\",\n\"item\" : \"show\",\n\"image\" : \"http://cdn-profiles.tunein.com/p1835162/images/logoq.png?t=1\",\n\"current_track\"
        : \"Catch up on the local headlines of the day...\",\n\"preset_id\" : \"p1835162\"
        },\n { \"element\" : \"outline\",\n\"type\" : \"link\",\n\"text\" : \"KUOW
        Shorts\",\n\"URL\" : \"http://opml.radiotime.com/Tune.ashx?c=pbrowse&id=p1675496&formats=mp3,aac,ogg,html,hls\",\n\"guide_id\"
        : \"p1675496\",\n\"subtext\" : \"Discover original short-run audio series...\",\n\"genre_id\"
        : \"g3416\",\n\"key\" : \"topics\",\n\"item\" : \"show\",\n\"image\" : \"http://cdn-profil[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://opml.radiotime.com/Tune.ashx?id=s35932&formats=mp3,aac,ogg,html,hls&render=json
  response:
    body:
      string: " { \"head\": {\t\"status\": \"200\"}, \"body\": [\n { \"element\" :
        \"audio\", \n\"url\": \"https://playerservices.streamtheworld.com/pls/KUOWFM_HIGH_MP3.pls?DIST=TuneIn&TGT=TuneIn&maxServers=2&gdpr=1&partnertok=eyJhbGciOiJIUzI1NiIsImtpZCI6InR1bmVpbiIsInR5cCI6IkpXVCJ9.eyJ0cnVzdGVkX3BhcnRuZXIiOnRydWUsImlhdCI6MTc3ODE2ODkzNiwiaXNzIjoidGlzcnYifQ.kMmqiZS9Nj4ql_fE6ceVZ7kuyv2dk8JO8x9Gj3-QYS4\",\n\"reliability\":
        99,\n\"bitrate\": 96,\n\"media_type\": \"mp3\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e165145444\",\n\"playlist_type\": \"pls\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": false }] }"
    headers:
      Content-Type:
      - application/json
      x-tunein-dc:
      - us-west-2
      x-tunein-span-id:
      - 3ff2859bd4ef15c8
      x-tunein-trace-id:
      - 1c629a8bee43a81d60cce405d0e35820
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://opml.radiotime.com/Describe.ashx?id=s35932&render=json
  response:
    body:
      string: " { \"head\": {\t\"status\": \"200\"}, \"body\": [\n{\"element\":\"station\",\"guide_id\":\"s35932\",\"preset_id\":\"s35932\",\"name\":\"KUOW-FM\",\"call_sign\":\"KUOW-FM\",\"slogan\":\"Seattle's
        NPR News Station\",\"frequency\":\"94.9\",\"band\":\"FM\",\"url\":\"https://www.kuow.org/\",\"report_url\":\"\",\"detail_url\":\"http://tun.in/sesrC\",\"is_preset\":false,\"is_available\":true,\"is_music\":false,\"has_song\":false,\"has_schedule\":false,\"has_topics\":false,\"twitter_id\":\"\",\"logo\":\"https://cdn-profiles.tunein.com/s35932/images/logoq.jpg?t=636269127652070000\",\"location\":\"Seattle-Tacoma,
        US\",\"current_song\":null,\"current_artist\":null,\"current_artist_id\":null,\"current_album\":null,\"current_artist_art\":null,\"current_album_art\":null,\"description\":\"KUOW
        Puget Sound Public Radio (94.9 FM) is Seattle's NPR news station. We are an
        independent, nonprofit news organization that produces award-winning journalism,
        innovative podcasts, engaging community events, and more. Our work is about
        truth. We were founded with the idea that everyone should have free access
        to honest, fact-checked information - as well as stories that broaden conversations
        and deepen understanding of the world around us. We work every day in service
        of our mission to create and serve a more informed public, because we believe
        an informed public is essential to a thriving community, a vibrant democracy,
        and a better future. Listen live for trusted local, national and international
        reporting here or at 94.9 FM Seattle.\",\"email\":\"\",\"phone\":\"206-221-2731\",\"mailing_address\":\"BOX
        353750\\r\\nSeattle, WA 98195\",\"language\":\"English\",\"genre_id\":\"g3124\",\"genre_name\":\"US
        News\",\"region_id\":\"r100014\",\"country_region_id\":100436,\"latlon\":null,\"tz\":\"Pacific\",\"tz_offset\":\"-420\",\"publish_song\":null,\"publish_song_url\":null,\"publish_song_rejection_reason\":null,\"now_playing_url\":null,\"external_key\":null,\"ad_eligible\":true,\"preroll_ad_eligible\":false,\"companion_ad_eligible\":false,\"video_preroll_ad_eligible\":false,\"fb_share\":true,\"twitter_share\":true,\"song_share\":true,\"donation_eligible\":null,\"donation_url\":null,\"donation_text\":null,\"donation_icon\":null,\"song_buy_eligible\":null,\"tunein_url\":\"http://tunein.com/station/?stationId=35932\",\"is_family_content\":false,\"is_mature_content\":false,\"is_event\":false,\"content_classification\":\"talk\",\"echoed_count\":null,\"favorited_count\":null,\"is_favorited\":null,\"is_favoritable\":null,\"has_profile\":\"true\",\"can_cast\":true,\"nielsen_eligible\":false,\"nielsen_provider\":null,\"nielsen_asset_id\":null,\"nowplaying_channel\":null,\"why_ads_text\":null,\"use_native_player\":false,\"live_seek_stream\":false,\"seek_disabled\":false}\n]
        }"
    headers:
      Content-Type:
      - application/json
      x-tunein-dc:
      - us-west-2
      x-tunein-span-id:
      - f411c58c51b75e3c
      x-tunein-trace-id:
      - 0b76af1e15dcd5d21ef845f58fc097fd
    status:
      code: 200
      message: OK
version: 1
