interactions:
- request:
    body: formats=mp3%2Caac%2Cogg%2Chtml%2Chls&render=json&query=kuow
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://opml.radiotime.com/Search.ashx
  response:
    body:
      string: " { \"head\": {\t\"title\": \"Search Results: kuow\",\n\t\"status\":
        \"200\"}, \"body\": [\n { \"element\" : \"outline\",\n\"type\" : \"audio\",\n\"text\"
        : \"KUOW-FM\",\n\"URL\" : \"http://opml.radiotime.com/Tune.ashx?id=s35932&formats=mp3,aac,ogg,html,hls\",\n\"bitrate\"
        : \"96\",\n\"reliability\" : \"99\",\n\"guide_id\" : \"s35932\",\n\"subtext\"
        : \"Seattle's NPR News Station\",\n\"genre_id\" : \"g3124\",\n\"formats\"
        : \"mp3\",\n\"item\" : \"station\",\n\"image\" : \"http://cdn-profiles.tunein.com/s35932/images/logoq.jpg?t=636269\",\n\"now_playing_id\"
        : \"s35932\",\n\"preset_id\" : \"s35932\" },\n { \"element\" : \"outline\",\n\"type\"
        : \"link\",\n\"text\" : \"KUOW Newsroom\",\n\"URL\" : \"http://opml.radiotime.com/Tune.ashx?c=pbrowse&id=p1835162&formats=mp3,aac,ogg,html,hls\",\n\"guide_id\"
        : \"p1835162\",\n\"subtext\" : \"Catch up on the local headlines of the day...\",\n\"genre_id\"
        : \"g3407\",\n\"key\" : \"topics\",\n\"item\" : \"show\",\n\"image\" : \"http://cdn-profiles.tunein.com/p1835162/images/logoq.png?t=1\",\n\"current_track\"
        : \"Catch up on the local headlines of the day...\",\n\"preset_id\" : \"p1835162\"
        },\n { \"element\" : \"outline\",\n\"type\" : \"link\",\n\"text\" : \"KUOW
        Shorts\",\n\"URL\" : \"http://opml.radiotime.com/Tune.ashx?c=pbrowse&id=p1675496&formats=mp3,aac,ogg,html,hls\",\n\"guide_id\"
        : \"p1675496\",\n\"subtext\" : \"Discover original short-run audio series...\",\n\"genre_id\"
        : \"g3416\",\n\"key\" : \"topics\",\n\"item\" : \"show\",\n\"image\" : \"http://cdn-profil[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://opml.radiotime.com/Tune.ashx?id=s35932&formats=mp3,aac,ogg,html,hls&render=json
  response:
    body:
      string: " { \"head\": {\t\"status\": \"200\"}, \"body\": [\n { \"element\" :
        \"audio\", \n\"url\": \"https://playerservices.streamtheworld.com/pls/KUOWFM_HIGH_MP3.pls?DIST=TuneIn&TGT=TuneIn&maxServers=2&gdpr=1&partnertok=<PARTNER_TOKEN>\",\n\"reliability\":
        99,\n\"bitrate\": 96,\n\"media_type\": \"mp3\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e165145444\",\n\"playlist_type\": \"pls\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": false }] }"
    headers:
      Content-Type:
      - application/json
      x-tunein-dc:
      - us-west-2
      x-tunein-span-id:
      - <REDACTED>
      x-tunein-trace-id:
      - <REDACTED>
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://opml.radiotime.com/Tune.ashx?id=s26389&formats=mp3,aac,ogg,html,hls&render=json
  response:
    body:
      string: " { \"head\": {\t\"status\": \"200\"}, \"body\": [\n { \"element\" :
        \"audio\", \n\"url\": \"https://playerservices.streamtheworld.com/pls/KWAVEFMAAC.pls?DIST=TuneIn&TGT=TuneIn&maxServers=2&gdpr=1&partnertok=<PARTNER_TOKEN>\",\n\"reliability\":
        97,\n\"bitrate\": 57,\n\"media_type\": \"aac\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e479648033\",\n\"playlist_type\": \"pls\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": false }, { \"element\" : \"audio\", \n\"url\":
        \"http://playerservices.streamtheworld.com/pls/KWAVEFMAAC.pls?tdtok=<TDTOK>&DIST=TuneIn&TGT=TuneIn&maxServers=2&gdpr=1&partnertok=<PARTNER_TOKEN>\",\n\"reliability\":
        97,\n\"bitrate\": 56,\n\"media_type\": \"aac\",\n\"position\": 0,\n\"player_width\":
        640,\n\"player_height\": 480,\n\"is_hls_advanced\": \"false\",\n\"live_seek_stream\":
        \"false\",\n\"guide_id\": \"e27123673\",\n\"playlist_type\": \"pls\",\n\"is_ad_clipped_content_enabled\":
        \"false\",\n\"is_direct\": false }, { \"element\" : \"audio\", \n\"url\":
        \"https://players[...]
[...]
